<ul class="menu-bar">
    <li class="units">
        <button class="nav-dashboard nav-item-button" aria-label="dashboard"><i class="fas fa-laptop"></i></button>
        <a href="../inventoryDashboard/inventoryDashboard.html" class="nav-label">Units</a>
    </li>
    <li class="user-details">
        <button class="nav-users nav-item-button" aria-label="user-details"><i class="fas fa-users"></i></button>
        <a href="../UserManagement/userManagement.html" class="nav-label">User Details</a>
    </li>
    <li class="reports">
        <button class="nav-reports nav-item-button" aria-label="reports"><i class="fas fa-file-alt"></i></button>
        <a href="../InventoryReport/inventoryReportIndex.html" class="nav-label">Reports</a>
    </li>

    <li class="settings">
        <button class="nav-settings nav-item-button" aria-label="settings"><i class="fas fa-user-alt"></i></button>
        <a href="../ApplicationSettings/applicationSettings.html" class="nav-label">Settings</a>
    </li>    
</ul>